
body{
    margin: 0;
    font-family: sans-serif;
    background-image: url(/Users/mille/Documents/GitHub/Retail-Revision/img/rms-about-2.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.grid{                                      /* For header nav, sub nav, section-1 through section-3 */
   display:grid;
   grid-template-columns: reapeat(12, 1fr);
   gap: 10px;
}

header{
    padding: 10px 20px;
    background-color: #d9d9d9;
    border-bottom: 2px solid #000;
    align-items: center;
}

header nav{
    grid-column: 1;
}

header #logout{
    grid-column: 2 / span 1;
    justify-self: end;
}

#section-1, #section-2, #section-3{
    background-color: #d9d9d9;
    max-width: 900px;
    padding: 20px 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 2px solid black;
}

#section-2 a{
    margin-left: 22%;
    font-size: larger;
}

.footer{
    text-align: center;
}

/* Style nav */
nav a{
    font-size: 20px;
    
}

#nav-options{
    margin-left: 20px;
}

nav a:link,
nav a:visited,
#logout a:link,
#logout a:visited{
    text-decoration: none;
    color:black
}

nav a:hover,
#logout a:hover{
    color: #73C2FB;
}

#nav-options{
    position: relative;
    bottom: 36px;
}

#logout{
    font-family: sans-serif;
}

#section-1 nav{
    margin-left: 15px;
}

#section-1 a{
    margin-left: 30px;
}

#section-2 svg{
    position: relative;
    right: 10px;
    top: 5px;
}

#important-info{
    text-align: justify;
    line-height: 1.6;
}

#alerts:link,
#alerts:visited{
    text-decoration: none;
    color:#000;
}

#alerts:hover{
    text-decoration: underline;
    color: #73C2FB;
}

hr{
    width: 100%;
}