
body{
    margin: 0;
    font-family: sans-serif;
    background-image: url(/Users/mille/Documents/GitHub/Retail-Revision/img/rms-about-2.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

/* Layout of homepage */
.grid{                                      /* For header nav, sub nav, section-1 through section-3 */
   display:grid;
   grid-template-columns: reapeat(12, 1fr);
   gap: 10px;
}

header{                                    /* Header box */
    padding: 10px 20px;
    background-color: #d9d9d9;
    border-bottom: 2px solid #000;
    align-items: center;
}

header nav{
    grid-column: 1;
}

header #logout{
    grid-column: 2 / span 1;
    justify-self: end;
}

#section-1, #section-2, #section-3{     /* section-1 through section-3 boxes */
    background-color: #d9d9d9;
    max-width: 900px;
    padding: 20px 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 2px solid black;
}

#section-2 a{
    margin-left: 22%;
    font-size: larger;
}

.footer{
    text-align: center;
}

/* Styling Section */
#main-nav, #sub-nav{              /* Font size for main navbar and sub navbar */
    font-size: 20px;
}

#nav-options{                     /* Main-nav */
    margin-left: 20px;
}

nav a:link,                      /* Link Styling */
nav a:visited,
#logout a:link,
#logout a:visited,
#alerts:link,
#alerts:visited{
    text-decoration: none;
    color:black
}

nav a:hover,                    /* Link hover action styling */
#logout a:hover,
#alerts:hover{
    color: #73C2FB;
}

#nav-options{                   /* Position nav-options in the center relative to its position */
    position: relative;
    bottom: 36px;
}

#section-1 nav{                 /* Position nav-options in the center of page using margins */
    margin-left: 15px;
}

#section-1 a{                  /* Space out the nav-options by using margin-left */
    margin-left: 30px;
}

#section-2 svg{                /* Align icons(svg) with links */
    position: relative;
    right: 10px;
    top: 5px;
}

#important-info{               /* Have text line up together and adjust line-height for readability */
    text-align: justify;
    line-height: 1.6;
}

hr{
    width: 100%;               /* Horizontal line was small so create width:100%; to create an actual line */
}