body{
    margin: 0;
    font-family: sans-serif;
    background-image: url(/Users/mille/Documents/GitHub/Retail-Revision/img/rms-about-2.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

.grid{                                      
   display:grid;
   grid-template-columns: reapeat(12, 1fr);
   gap: 10px;
}

/* Header section Main navbar */

header{                                    
    padding: 10px 20px;
    background-color: #d9d9d9;
    border-bottom: 2px solid #000;
    align-items: center;
}

header nav{
    grid-column: 1;
}

header #logout{
    grid-column: 2 / span 1;
    justify-self: end;
    white-space: nowrap;
}

/* Section-1 through Section-3 boxes */

#section-1, #section-2, #section-3{     
    background-color: #d9d9d9;
    width: 900px;
    padding: 20px 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 2px solid black;
}

/* Main Navbar */

#nav-options{                     
    margin-left: 20px;
    position: relative;
    bottom: 36px;
}

#main-nav, #sub-nav{            
    font-size: 20px;
    white-space: nowrap;
}

/* Second Navbar */

#section-1 a{                  
    margin-left: 30px;
}

#section-1 nav{                 
    margin-left: 15px;
}

/* Alerts */

#section-2 a{
    margin-left: 22%;
    font-size: larger;
}

/* Alert Svg Icons */

#section-2 svg{                
    position: relative;
    right: 10px;
    top: 5px;
}

/* Horizontal line */

hr{
    width: 100%;               
}

/* Important Information Text */

#important-info{               
    text-align: justify;
    line-height: 1.6;
}

/* Footer */

.footer{
    text-align: center;
}

/* Styling for the Main navbar, Sub navbar, Logout link, and Alert link */

nav a:link,                      
nav a:visited,
#logout a:link,
#logout a:visited,
#alerts:link,
#alerts:visited{
    text-decoration: none;
    color:#000;
}

nav a:hover,                    
#logout a:hover,
#alerts:hover{
    color: #0000ff;
    text-decoration: underline;
}