:root{
    --card-color: #fff;
    --card-border-color: #000;
    --link-color: #000;
    --link-color-2: #0000ff;
    --submit-color: #73C2FB;
    --input-field-border-color: #000;
    --submit-border-color: #000;
}

*{
    outline: 2px solid red;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;      
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 15px;
    background-image: url(/Users/mille/OneDrive/Documents/GitHub/Retail-Revision/img/rms-about-2.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

/************************************************ 
* Universal Styling
*************************************************/

.wrapper-container{
    width: 80px;
}

#logo{
    margin-left: 28%;
    margin-right: 28%;
}

.portal-login, .portal-forgot{           
    background-color: var(--card-color);
    border: 2px solid var(--card-border-color);
    border-radius: 10px;
    height: 500px;
    width: 90%;
}

#login-form, #forgot-form{           
    text-align: center;
    position: relative;
    top: 10%;
}

.resources, .forgot-resources{
    font-weight: bold;
}

.resources a:link,
.resources a:visited,
.forgot-resources a:link,
.forgot-resources a:visited {            
    text-decoration: none;
    color: var(--link-color);
}

.resources a:hover,
.forgot-resources a:hover{                  
    color: var(--link-color-2);
}

input[type="submit"]:hover{          
    background-color: var(--submit-color);
}

.footer{
    text-align: center;
}

/************************************************ 
* Specific styling for Portal login
*************************************************/

.user, .password, .login, .resources{
    margin-bottom: 45px;
    margin-top: 45px;
}

#username, #password{
    border: 2px solid var(--input-field-border-color);
    width: 200px;
    padding: 5%;
    border-radius: 15px;
}

#submit{
    width: 200px;
    height: 35px;
    border: 2px solid var(--submit-border-color);
    border-radius: 5px;
}

.user svg, .password svg, .login svg{  
    position:relative;
    top: 5px;
    left: 8px
}

/************************************************ 
* Specific styling for Forgot Portal
*************************************************/

 .submit, .forgot-resources{
    margin-bottom: 45px;
    margin-top: 50px;
}

#email{
    border: 2px solid var(--input-field-border-color);
    width: 200px;
    padding: 5%;
    border-radius: 15px;
    margin-top: 30px;
}

.section-1{                         
    margin-top: 40px;
}

.radio-buttons {                  
   text-align: left;
   margin-left: 20%;
   margin-right: 20%;
}