
body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.portal-login{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}