
body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    display: flex;
    
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 92%;
    margin: auto;
    height: 100%;
    border: 2px solid red;
}