body{
    display:flex;
    justify-content: center;
    align-items: center;      /*Aligns all content in the body on the center of webpage */
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 15px;
    background-image: url(/Users/mille/Documents/GitHub/Retail-Revision/img/rms-about-2.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#logo{
    margin-left: 24%;
    width: 220px;
}

.portal-login{
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    height: 500px;
}

#login-form{
    text-align: center;
    position: relative;
    top: 10%;
}

.user, .password, .login, .resources{
    margin: 45px;
}

#username, #password{
    border: 2px solid black;
    width: 200px;
    padding: 5%;
    border-radius: 15px;
}

#submit{
    width: 200px;
    height: 35px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.footer{
    text-align: center;
}

.resources{
    font-weight: bold;
}

.user svg, .password svg, .login svg{  /* Svg logos for username and password */
    position:relative;
    top: 5px;
    left: 8px
}

.resources a:link,
.resources a:visited {
    text-decoration: none;
    color: #000000; /* Black color */
}

.resources a:hover{
    text-decoration: underline;
    color:#0000ff;
}

input[type="submit"]:hover{
    background-color: #73C2FB;
}

/* Forgot Portal */
.portal-forgot{
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    height: 500px;
}

#forgot-form{
    text-align: center;
    position: relative;
    top: 10%;
}

.email, .submit, .forgot-resources{
    margin: 45px;
}

#email{
    border: 2px solid black;
    width: 200px;
    padding: 5%;
    border-radius: 15px;
}

.radio-buttons{
    display: block;
}